*{
    margin: 0%;
    padding: 0%;
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: #34183b;
}
nav{
    background-color: #34183b;
    /* box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.097); */
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed; */
}
.name-heading h1{
    color: white;
    font-weight: 900;
    margin: 30px;
    font-size: 35px;
}
.nav-list ul li{
    display: inline-block;
}
.nav-list ul li a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 100px rgb(119, 119, 119);
    margin: 25px;
    position: relative;
    left: 400px;
}
.nav-list ul li a:hover{
    /* color: gold; */
    text-shadow: 1px 1px 10px white;
}
.h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 60px;
    left: 70px;
    width: 500px;
}
span{
    color: gold;
    font-weight: 700;
}
p{
    width: 440px;
    position: relative;
    left: 70px;
    top: 80px;
    line-height: 40px;
    color: #ffffff;
    word-spacing: 5px;
    font-size: 20px;
    text-transform: capitalize;
}

.main-gif1 img{
    width: 500px;
    height: 450px;
    z-index: -1;
    position: absolute;
    top: 60px;
    right: 70px;
}
